body {
  margin: 0px;
  padding: 0px;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  background-image: url("assets/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.likes-container {
  left: 40%;
  margin-top: 10px;
  width: 300px;
  height: 70px;
  padding-top: 15px;
  font-size: large;
  border: 2px solid white;
  position: relative;
  background-color: rgb(230, 239, 227);
  border-radius: 15px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}

#she-btn {
  background-color: rgb(241, 178, 220);
  width: 250px;
  height: 50px;
  border: 2px solid white;
  border-radius: 15px;
  color: black;
}

#he-btn {
  background-color: rgb(158, 191, 252);
  width: 250px;
  border: 2px solid white;
  border-radius: 15px;
}

#mix-btn {
  background-color: rgb(199, 146, 249);
  width: 250px;
  border: 2px solid white;
  border-radius: 15px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#random-card-container {
  width: 400px;
  background-color: rgb(194, 244, 244);
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
}

#random-card-container p:first-of-type {
  font-size: 25px;
}
#random-card-container p {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

#random-card-container img {
  width: 65%;
  border: 2px solid white;
  border-radius: 15px;
}

#saved-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
