body {
  margin: 0px;
  padding: 0px;
}

.main-container {
  width: 100%;
  height: 100vh;
  
  background-image: url("assets/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.likes-container {
  left: 40%;
  margin-top: 10px;
  width: 300px;
  height: 70px;
  padding-top: 15px;
  font-size: large;
  border: 2px solid white;
  position: relative;
  background-color: rgb(230, 239, 227);
  border-radius: 15px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  gap: 30px;
}

#she-btn {
  background-color: rgb(241, 178, 220);
  width: 250px;
  height: 50px;
  border: 2px solid white;
  border-radius: 15px;
  color: black;
}

#he-btn {
  background-color: rgb(158, 191, 252);
  width: 250px;
  border: 2px solid white;
  border-radius: 15px;
}

#mix-btn {
  background-color: rgb(199, 146, 249);
  width: 250px;
  border: 2px solid white;
  border-radius: 15px;
}

.cards-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
}
#random-card-container {
  width: 400px;
  height: 500px;
  background-color: rgb(194, 244, 244);
  left: 37%;
  position: relative;
  margin-top: 30px;
}

